@font-face {
  font-family: $font-title;
  src: url("resources/font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-main;
  src: url("resources/font-text.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
