#val-text {
  font-family: "Valorant";
  font-size: 55px !important;
  margin: 0 !important;
}

body {
  font-family: "Valorant-text", sans-serif;
  text-transform: uppercase;
  background-color: #0e0e0e;
  color: white;
  text-align: center;
  overflow: hidden;
  padding-top: 20px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 102%;
  background: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
}

h1 {
  margin-top: -15px !important;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 0 10px #ff4655, 0 0 20px #ff4655, 0 0 30px #ff4655;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
}

button {
  margin-top: 30px;
  padding: 7px 24px;
  font-size: 1.8em;
  background-color: #ff4655;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.3s;
  box-shadow: 0 0 15px rgba(255, 70, 85, 0.4);
  font-family: $font-main;
}

button:hover {
  background-color: #e63946;
  transform: translateY(-2px);
  box-shadow: 0 0 20px rgba(255, 70, 85, 0.6);
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

#settings-button {
  position: absolute;
  top: -4px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.3s;
}

#settings-button:hover {
  background-color: #ff9ea6;
}

#cog-icon {
  transition: transform 0.3s;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 20.5px;
}

#overlay {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  margin: 0;
}

#overlay.show {
  display: block;
  opacity: 1;
  pointer-events: all;
}

/* @keyframes text-glow {
  0% {
    text-shadow: 0 0 5px #ff4655;
  }
  50% {
    text-shadow: 0 0 20px #ff4655, 0 0 30px #ff4655;
  }
  100% {
    text-shadow: 0 0 10px #ff4655, 0 0 20px #ff4655, 0 0 30px #ff4655;
  }
}

#winner-name {
  animation: text-glow 2s ease-in-out infinite alternate;
} */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Arial", sans-serif;
  font-size: 10px !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 1;
}

.phone {
  height: 50px;
  width: 100px;
  border: 3px solid white;
  border-radius: 10px;
  animation: rotate 1.5s ease-in-out infinite alternate;
  /* display: none; */
}

.message {
  color: white;
  font-size: 1em;
  margin-top: 40px;
  /* display: none; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

#screen-too-small {
  display: none;
  background-color: #0e0e0e;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  transition: display 0.5s ease-in-out;
}

@media only screen and (max-width: 1100px) {
  #recent-history {
    bottom: 90px;
    left: auto;
  }

  #recent-agents {
    flex-direction: row !important;
  }

  #settings-panel {
    width: 100%;
  }

  #winner-display {
    flex-direction: column;
    justify-content: space-between;
  }

  #winner-info-container {
    width: 100% !important;
    height: 20%;

    #winner-name {
      p {
        font-size: 3em;
      }

      hr {
        margin: 0;
      }

      span {
        font-size: 1.5em;
      }
    }
  }

  #recent-history {
    bottom: 90px;
    left: auto;
  }

  #recent-agents {
    flex-direction: row !important;
  }

  #settings-panel {
    width: 100%;
  }

  #winner-abilities-container {
    width: 20% !important;
    position: relative;
    z-index: 300;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 10px;
    #winner-abilities-box {
      flex-direction: column-reverse;

      #winner-abilities-top {
        flex-wrap: wrap;
        flex-direction: row !important;
        #ability_text_one,
        #ability_text_two,
        #ability_text_three,
        #ability_text_four {
          width: 40% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
  #winner-info-container {
    height: 30% !important;

    #winner-name {
      p {
        font-size: 9em !important;
      }

      span {
        font-size: 3em !important;
      }
    }
  }

  #winner-abilities-container {
    width: 30% !important;
    #winner-abilities-box {
      flex-direction: column-reverse;

      #winner-abilities-top {
        flex-wrap: wrap;
        flex-direction: row !important;
        #ability_text_one,
        #ability_text_two,
        #ability_text_three,
        #ability_text_four {
          width: 40% !important;
          img {
            width: 60px !important;
            height: 60px !important;
          }
          p,
          span {
            font-size: 2.5em !important;
          }
        }
      }
      #ability_details_one,
      #ability_details_two,
      #ability_details_three,
      #ability_details_four {
        font-size: 1.7em !important;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #screen-too-small {
    display: flex;
  }
}
