@media only screen and (max-width: 1100px) and (orientation: portrait) {
  #recent-history {
    bottom: 90px;
    left: auto;
  }

  #recent-agents {
    flex-direction: row !important;
  }

  #settings-panel {
    width: 100%;
  }

  #winner-display {
    flex-direction: column;
    justify-content: space-between;
  }

  #winner-info-container {
    width: 100% !important;
    height: 20%;

    #winner-name {
      p {
        font-size: 3em;
      }

      hr {
        margin: 0;
      }

      span {
        font-size: 1.5em;
      }
    }
  }

  #recent-history {
    bottom: 90px;
    left: auto;
  }

  #recent-agents {
    flex-direction: row !important;
  }

  #settings-panel {
    width: 100%;
  }

  #winner-abilities-container {
    width: 20% !important;
    position: relative;
    z-index: 300;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 10px;
    #winner-abilities-box {
      flex-direction: column-reverse;

      #winner-abilities-top {
        flex-wrap: wrap;
        flex-direction: row !important;
        #ability_text_one,
        #ability_text_two,
        #ability_text_three,
        #ability_text_four {
          width: 40% !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) and (orientation: portrait) {
  #winner-info-container {
    height: 30% !important;

    #winner-name {
      p {
        font-size: 9em !important;
      }

      span {
        font-size: 3em !important;
      }
    }
  }

  #winner-abilities-container {
    width: 30% !important;
    #winner-abilities-box {
      flex-direction: column-reverse;

      #winner-abilities-top {
        flex-wrap: wrap;
        flex-direction: row !important;
        #ability_text_one,
        #ability_text_two,
        #ability_text_three,
        #ability_text_four {
          width: 40% !important;
          img {
            width: 60px !important;
            height: 60px !important;
          }
          p,
          span {
            font-size: 2.5em !important;
          }
        }
      }
      #ability_details_one,
      #ability_details_two,
      #ability_details_three,
      #ability_details_four {
        font-size: 1.7em !important;
      }
    }
  }
}

// tbh everything above is quite irrelevant since users will have to user landscape mode
@media only screen and (max-width: 1000px) and (orientation: portrait) {
  #screen-too-small {
    display: flex;
  }
}
